.newEmployee{
    flex:4;
}

.newEmployeeForm{
    display: flex;
    flex-wrap: wrap;
     justify-content: space-around;
}

.newEmployeeItem{
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
}

.newEmployeeItem>label{
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 600;
        color:rgb(151,150,150)
}

.newEmployeeItem>input{
    height: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

.newEmployeeGender>input{
    margin-top: 15px;
}

.newEmployeeGender>label{
    margin: 10px;
    font-size: 18px;
    color: #555;
}

.newEmployeeSelect{
    height: 40px;
    border-radius: 5px;
}

.newEmployeeButton{
    width: 200px;
    border: none;
    background-color: darkblue;
    color: white;
    padding: 7px 10px;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}