.widgetSm{
    /* display: flex; */
    flex:1;
   box-shadow: 0px -2px 7px 1px rgb(103, 54, 196);
-webkit-box-shadow: 0px -2px 7px 1px rgb(103, 54, 196);
-moz-box-shadow: 0px -2px 7px 1px rgb(103, 54, 196); padding: 20px;
    margin-right: 20px;
    border-radius: 10px;
    }

    .widgetSmTitle{
        font-size: 22px;
        font-weight: 600;
    }

    .widgetSmImg{
        border-radius: 50%;
        width: 40px;
        height: 40px;
        object-fit: cover;
    }

    .widgetsmList{
        margin: 0;
        padding: 0;
        list-style:none;
    }

    .widgetSmListItem{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;
    }

    .widgetSmUser{
        display: flex;
        flex-direction: column;
    }

    .widgetSmUsername{
        font-weight: 600;
    }

    .widgetSmUserTitle{
        font-weight: 300;
    }

    .widgetSmButton{
        display: flex;
        align-items: center;
        border: none;
        border-radius: 10px;
        padding: 7px 10px;
        background-color: #eeeef7;
        color: #555;
        cursor: pointer;
    }

    .widgetSmIcon{
        font-size: 16px !important;
        margin-right: 5px;
    }

    